*{box-sizing: border-box;}
img{width: 100%; display: block;}
.maincontainer{
    width: 800px;
    background-color: aliceblue;
    margin: 5rem auto;
    padding: 2rem;
}
.apptitle{
    text-align: center;
}
.dolistform{
    margin-top: 2rem;
}
.todo_text{
    background-color: aliceblue; padding: 0.5rem;
    width: 60%;
}
.btndeleteeach, .btndeleteall{
    width: 40%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
}
.btndeleteeach{
    background-color: orange;
    text-align: center;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 5px;
}
.btndeleteall{
    background-color: rgb(199, 121, 26);
    text-align: center;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 5px;
}
.btndeleteeach:hover, .btndeleteall:hover, .btnaddlist:hover{
    background-color: red;
    color: white;
}
.btnaddlist{
    border: none;
    background-color: green;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.dolist_list{
    background-color: white;
    padding: 1rem;
    border: solid gray 1px;
}
.listitem{
    list-style: none;
    padding: 1rem;
    background-color: rgb(230,230,230);
}
.completed{
    color: whitesmoke;
    text-decoration: line-through;
    background-color: rgb(50,50,50);
}
.linkitem{
    text-decoration: none;
    color: rgb(50,50,50);
}
.linkitem:hover{
    text-decoration: underline;
    font-weight: bolder;
}